/* /
/
/
/
/ 428px, 768px і 1158px.
/
/
/
/ */
/* ==========HEADER========= */

@media screen and (min-width:1158px) {

  .container {

    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

  }


  .section-banner {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/main-page/backgrounds/desktop-bcg-1x.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution:192dpi),
  screen and (min-resolution: 2dppx) {
    .section-banner {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/main-page/backgrounds/desktop-bcg-@2x.png);
    }



  }


  .backlight-page::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #404bbf;

  }

  .header {
    background-color: var(--white-color);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .modal-window {
    position: fixed;
    transform: translate(-50%, -55%);

  }

  .nav-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .burger, .btn-burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .items-our-goal {
    justify-content: center;
    gap: 72px 24px;
  }

  .subtitle {

    max-width: 263px;
  }

  .our-offer {
    justify-content: center;
    gap: 72px 24px;
  }

  .product-items {
    max-width: calc((100% - 24px) / 2);
  }

  .footer-content {

    width: 1158px;
    column-gap: 0px;
    padding-right: 0px;
    padding-left: 0px;

  }

  .sosial-media {
    margin-right: 80px;
    margin-left: 0px;
  }

  .footer-form {
    margin-left: 0px;
  }

  .footer-form {
    width: 100%;
  }

  .btn-footer {
    margin: 0;
  }

  .footer-label {
    width: 100%;
  }

  .form-email {
    width: 100%;
  }

  .items-employee {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 72px 24px;
  }

  .customer-items {

    flex-wrap: nowrap;
  }

  .items-goal {
    max-width: calc((100% - 48px) / 2);
    margin-right: 0px;
  }

  .footer-wrap-text {
    margin-right: 120px;
  }

  /* ==========/HEADER========= */




















}













}