 .logo-footer {
        display: inline-block;
        align-items: center;


        color: var(--accent-color);
        font-size: 18px;
        font-family: Raleway, sans-serif;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    .footer {
        background-color: var(--primary-color);
        padding: 100px 0px;
        display: flex;
    }

    .footer .logo {
        font-family: "Raleway", sans-serif;
    }

    .footer .logo-span-footer {
        color: var(--secondary-color);
        font-family: "Raleway", sans-serif;

    }

    .footer-text {
        line-height: 1.5;
        color: var(--secondary-color);

        letter-spacing: 0.02em;
        width: 264px;

    }

    .footer-item-svg {
        width: 40px;
        height: 40px;
    }




    .footer-link-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .footer-svg-fill {
        width: 24px;
        height: 24px;
        fill: var(--secondary-color);

    }

    .footer-link-svg:hover,
    .footer-link-svg:focus {
        background-color: #31d0aa;
    }
