  .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        display: flex;

    }

 
 .section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 120px;
        padding-bottom: 120px;
    }
     .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
     .list {
        list-style: none;
    }
.items-our-goal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 24px;
    }

    .items-our-goal:last-child {
        margin-right: 0px;
    }
    .items-goal {
        width: calc((100% - 72px) / 4);
        margin-right: 24px;
    }

    .items-goal:last-child {
        margin-right: 0px;
    }
      .contaner-svg-goal {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        background-color: var(--secondary-color);
    }
     .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--primary-color);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }